[Unit]
Description=Prometheus Pushgateway service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/centos/pushgateway-0.8.0.linux-amd64/pushgateway
Restart=always
RestartSec=3
StartLimitBurst=5
StartLimitIntervalSec=10

[Install]
WantedBy=multi-user.target